.Announcements{
    padding: 2rem;
    text-align: center;
    margin: 40px;
    margin-bottom: 140px;
    margin-left: 180px;
    width: 25.71888rem;
    height: 15.67338rem;
    flex-shrink: 0;
    border-radius: 0.55713rem;
    background: #C4D7B2;
    box-shadow: -5.942500114440918px -5.942500114440918px 2.376999855041504px 0px rgba(0, 0, 0, 0.25);
    }
    .tentative, .events {
        display: inline;
        float: left;
    }

    .dates{
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        margin: 40px;
        margin-bottom: 140px;
        margin-left: 40px;
        width: 25.71888rem;
        height: 15.67338rem;
        flex-shrink: 0;
        border-radius: 0.55713rem;
        background: #C4D7B2;
        box-shadow: -5.942500114440918px -5.942500114440918px 2.376999855041504px 0px rgba(0, 0, 0, 0.25);
        }

        .Announcements,.dates{
            display: inline;
            float: left;   
          }

          .sponsors{
            
            margin-top:310px;
            margin-bottom: 80px;
            margin-right: 50px;
            margin-left: 550px;
          }
    
      .marquee {
        
        margin-top: -80px;
        margin-right: -80px;
        white-space: nowrap;
        overflow:visible;
        position: absolute;
      }
    .marquee span {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 20s linear infinite;
      }
      
      @keyframes marquee {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(-100%, 0);
        }
      }

